html{
    background-color: #000;
    scroll-behavior: smooth;
    padding: 55px 100px;
    text-align: left;
    user-select: none;
}

body{
    max-width: 100%;
    max-height: 100%;
    background-color: #1A1A1A;
    padding: 2em 2em 4em;
    color: #fff;
    font-size: 20px;
    font-family: 'Monda', sans-serif;
    box-shadow: 0 0 10px #FF1D25, 0 0 100px #1a1a1a, 0 0 100px #000;
    animation: glow 5s linear 0s infinite alternate, ease-in-out;
}

@keyframes glow{
    
    from{
        box-shadow: 0 0 10px #FF1D25, 0 0 100px #1a1a1a, 0 0 100px #000;
    }
    
    to{
       box-shadow: 0 0 100px #1a1a1a, 0 0 100px #000; 
    }
}
    
#header{
    position: fixed;
    width: 100%;
    background-color: #000;
    height: 60px;
    top: -20px;
    left: 0px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 10px #fff;
    opacity: 0.8;
}

h1{
    text-align: center;
    top: 40px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FF1D25;
    max-width: 1100px;
    height: auto;
    box-shadow: 0 0 8px #000;
    color: #1A1A1A;
    font-size: 90px;
    font-family: 'alienleagueexpand';
    text-shadow: 0 0 8px #FF1D25;
}

@font-face{
    font-family: 'alienleagueexpand';
    src: url('alienleagueexpand.ttf')  format('truetype');
}

#saimg{
    display: block;
    margin: 0 auto;
    margin-right: auto;
    max-width: 800px;
    width: 80%;
    top: 180px;
}

li a{
    margin: 0 40px;
    text-shadow: 0 0 5px #000;
    display: block;
    width: 230px;
    height: auto;
    color: inherit;
    text-decoration: none;
    font-size: 50px;
    color: #FFF;
    border-right: 3px solid #FF1D25;
    border-left: 3px solid #FF1D25;
}

li{
    display: inline-block;
}

ul{
    user-select: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    max-width: 1200px;
    width: 80%;
}

ul a{
    transition: box-shadow 0.5s;
    transition: background-color 0.5s;
}

ul a:hover{
    background-color: #000;
    box-shadow: 0 0 5px #000;
}

ul a:active{
    background-color: #FF1D25; 
    box-shadow: 0 0 5px #000;
}

#logo a{
    color: inherit;
    text-decoration: none;
    position: fixed;
    top: 10px;
    color: #fff;
    left: 5px;
    font-family: 'alienleagueexpand';
    font-size: 32px;
    text-shadow: 0 0 5px #fff;
    border-bottom: 1px solid #fff;
    padding: 5px;
    transition: background-color 0.5s;
    transition: box-shadow 0.5s;
    transition: color: 0.5s;
}

#storyline{
    text-align: left;
    position: absolute;
    top: 1500px;
}
#logo a:hover{
    background-color: #FF1D25;
    transition: 0.5s;
    box-shadow: #FF1D25;
    color: #fff;
}

#online{
    text-align: left;
    position: absolute;
    top: 1620px;
    color: #fff;
    font-size: 18px;
    left: 361.5px;
    width: 700px;
}
#logo a:active{
    background-color: #fff;
    box-shadow: #fff;
    color: #000;
    transition: 0.5s;
}

#download a{
    color: inherit;
    text-decoration: none;
    position: fixed;
    top: 10px;
    color: #fff;
    right: 5px;
    font-family: 'alienleagueexpand';
    font-size: 32px;
    text-shadow: 0 0 5px #fff;
    border-bottom: 1px solid #fff;
    padding: 5px;
    transition: background-color 0.5s;
    transition: box-shadow 0.5s;
    transition: color: 0.5s;
}

#download a:hover{
    background-color: #FF1D25;
    transition: 0.5s;
    box-shadow: #FF1D25;
    color: #fff;
}

#download a:active{
    background-color: #fff;
    box-shadow: #fff;
    color: #000;
    transition: 0.5s;
}

#about{
    border-color: #000;
    box-shadow: 0 0 3px #FF1D25;
    margin: 0 auto;
    width: 200px;
}

#titleabout{
    margin: 0 auto;
    color: #fff;
    font-family: 'alienleagueexpand';
    font-size: 72px;
    border-bottom: 1px solid #fff;
    padding: 5px;
    width: 100%;
    max-width: 800px;
}

#gameplay{
    position: relative;
    max-width: 1000px;
    width: 60%;
    display: block;
    margin: 0 auto; 
}

#aboutinfo{
    text-align: left;
    margin: 0 auto;
    max-width: 1000px;
}

#nyaa{
    display: block;
    max-width: 600px;
    width: 100%;
    margin: 0 auto
}

#storyline{
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
}

#ranks{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
}

#online{
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
}

#news{
    text-align: center;
    top: 40px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FF1D25;
    max-width: 1100px;
    height: auto;
    box-shadow: 0 0 8px #000;
    color: #1A1A1A;
    font-size: 90px;
    font-family: 'alienleagueexpand';
    text-shadow: 0 0 8px #FF1D25;
}
