html{
    background-color: #000;
    scroll-behavior: smooth;
    padding: 80px;
    text-align: center;
    user-select: none;
}

body{
    max-width: 100%;
    height: 3000px;
    background-color: #1A1A1A;
    padding: 2em 2em 4em;
    color: #fff;
    font-size: 20px;
    font-family: 'Monda', sans-serif;
    box-shadow: 0 0 10px #FF1D25, 0 0 100px #1a1a1a, 0 0 100px #000;
    animation: glow 5s linear 1.5s infinite alternate, ease-in-out;
}

@keyframes glow{
    
    from{
        box-shadow: 0 0 10px #FF1D25, 0 0 100px #1a1a1a, 0 0 100px #000;
    }
    
    to{
       box-shadow: 0 0 0.5px #FF1D25, 0 0 100px #1a1a1a, 0 0 100px #000; 
    }
}
    
#header{
    position: fixed;
    width: 100%;
    background-color: #000;
    height: 60px;
    top: -18px;
    left: 0px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 10px #fff;
}

#news{
    text-align: center;
    top: 40px;
    margin: 0 auto;
    padding: 30px;
    background-color: #FF1D25;
    max-width: 1100px;
    height: auto;
    box-shadow: 0 0 8px #000;
    color: #1A1A1A;
    font-size: 90px;
    font-family: 'alienleagueexpand';
    text-shadow: 0 0 8px #FF1D25;
}

@font-face{
    font-family: 'alienleagueexpand';
    src: url('alienleagueexpand.ttf')  format('truetype');
}

#logo1 a{
    color: inherit;
    text-decoration: none;
    position: fixed;
    top: 10px;
    color: #fff;
    left: 5px;
    font-family: 'alienleagueexpand';
    font-size: 32px;
    text-shadow: 0 0 5px #fff;
    border-bottom: 1px solid #fff;
    padding: 5px;
    transition: background-color 0.5s;
    transition: box-shadow 0.5s;
    transition: color: 0.5s;
}

#logo1 a:hover{
    background-color: #FF1D25;
    transition: 0.5s;
    box-shadow: #FF1D25;
    color: #fff;
}

#logo1 a:active{
    background-color: #fff;
    box-shadow: #fff;
    color: #000;
    transition: 0.5s;
}
